@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #55266b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.pw-container {
    background-color:  #2c1338;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: #55266b;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    position:relative;
    padding: 0.5rem;
    overflow: 0 auto;
}

.pw button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.3rem 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0%, 50%);
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0%, 0%);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #ddd;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    background-color: #55266b;
    border: none;
    cursor: pointer;
    color: white;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
}